* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone img {
    height: 50rem;
}
.instagram-continue {
    display: flex;
    align-items: center; /* horizontal */
    justify-content: space-around; /* vertical */
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}
.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}
.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}
.profile-photo img {
    height: 6rem;
}
.group:nth-child(1) {
    min-height: 19rem;
}
.instagram-login {
    background-color: #051622;
    color: #46dd18;
    padding: 8px;
    border-radius: 4px;
}
.instagram-logout {
    background-color: #051622;
    padding: 7px;
    border-radius: 4px;
    color: #0be0f0;
    margin-top: 1rem;
}
.not-account {
    color: rgb(160, 160, 160);
}

.link-blue {
    color: #0095f6;
}
.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}
.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 1rem;
}
.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}
.app-download:nth-child(1){
    background-image: url("./apple-button.png");
}
.app-download:nth-child(2){
    background-image: url("./googleplay-button.png");
}
.footer-list{ 
        
    position: absolute;  
        left: 10px;  
        bottom: -25px;  
        right: 10px;   
        width: 100%;  
        text-align: center;  
        font-size: 20px;
        list-style-type: none;
        letter-spacing: 2px;
}
.link-list{
    color: rgb(0, 49, 41);
    font-weight: bold;
    font-style: italic;
}     
               
.copyright{
    color: rgb(0, 49, 41);
    font-weight: bold;
    font-style: italic;
}
.jkadaj{
    color: rgb(167, 88, 51);
    font-weight: bold;
    font-style: italic;
}
.footer{
    position: absolute;
    bottom: -45px;
    left: 170px;
    width: 70%; 
    text-align: center;
}
@media (max-width: 1024px) {
    .instagram-wrapper {
        width: 90%;
    }
}
@media (max-width: 650px) {
    body {
        background-color: #ffffff;
    }

    .instagram-wrapper {
        width: 90%;
    }

    .instagram-phone {
        display: none;
    }

    .instagram-continue {
        width: 100%;
    }
    
    .group {
        border: 1px solid transparent;
    }
}
